<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="save()">
        Save
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add new task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row>
      <ion-col col-1></ion-col>
      <ion-col col-10>
      </ion-col>
      <ion-col col-1></ion-col>
    </ion-row>
    <ion-card-header>
      <ion-card-title>Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-input type="text" name="text" placeholder="Enter text"></ion-input>
    </ion-card-content>
    <ion-card-content>
      <ion-input type="text" name="text" placeholder="Enter text"></ion-input>
    </ion-card-content>
  </ion-card>
</ion-content>
