<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Budget
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-list-header>
      In progress
    </ion-list-header>
    <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
    <ion-item *ngFor="let item of inprogress" routerLink="/details/{{item.id}}">
      <ion-label>
        <h3>Task 1</h3>
        <p>Some test content...</p>
      </ion-label>
      <ion-reorder slot="start"></ion-reorder>
    </ion-item>
    <ion-item routerLink="/details">
      <ion-label>
        <h3>Task 2</h3>
        <p>Some test content...</p>
      </ion-label>
      <ion-reorder slot="start"></ion-reorder>
    </ion-item>
    <ion-item routerLink="/details">
      <ion-label>
        <h3>Task 3</h3>
        <p>Some test content...</p>
      </ion-label>
      <ion-reorder slot="start"></ion-reorder>
    </ion-item>
  </ion-reorder-group>
  </ion-list>

  <ion-list>
    <ion-list-header>
      To be done
    </ion-list-header>
    <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
    <ion-item *ngFor="let item of todo" routerLink="/details/{{item.id}}">
      <ion-label>
        <h3>Task 4</h3>
        <p>Some test content...</p>
      </ion-label>
      <ion-reorder slot="start"></ion-reorder>
    </ion-item>
    <ion-item routerLink="/details">
      <ion-label>
        <h3>Task 5</h3>
        <p>Some test content...</p>
      </ion-label>
      <ion-reorder slot="start"></ion-reorder>
    </ion-item>
    <ion-item routerLink="/details">
      <ion-label>
        <h3>Task 6</h3>
        <p>Some test content...</p>
      </ion-label>
      <ion-reorder slot="start"></ion-reorder>
    </ion-item>
    <ion-item routerLink="/details">
      <ion-label>
        <h3>Task 7</h3>
        <p>Some test content...</p>
      </ion-label>
      <ion-reorder slot="start"></ion-reorder>
    </ion-item>
  </ion-reorder-group>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Finished
    </ion-list-header>
    <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
    <ion-item *ngFor="let item of finished" routerLink="/details/{{item.id}}">
      <ion-label>
        <h3>Task 8</h3>
        <p>Some test content...</p>
      </ion-label>
      <ion-reorder slot="start"></ion-reorder>
    </ion-item>
    <ion-item routerLink="/details">
      <ion-label>
        <h3>Task 9</h3>
        <p>Some test content...</p>
      </ion-label>
      <ion-reorder slot="start"></ion-reorder>
    </ion-item>
    <ion-item routerLink="/details">
      <ion-label>
        <h3>Task 10</h3>
        <p>Some test content...</p>
      </ion-label>
      <ion-reorder slot="start"></ion-reorder>
    </ion-item>
  </ion-reorder-group>
  </ion-list>
<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button color="primary" routerLink="/add">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
